.Message {
  margin-top: 1rem;
  display: flex;
}

.Message-pfp {
  border-radius: 50%;
  min-height: 2.5rem;
  max-height: 2.5rem;
  min-width: 2.5rem;
  max-width: 2.5rem;
  background-color: #444444;
}

.Message-username {
  display: inline-block;
  margin-right: 0.25rem;
  font-weight: bold;
}

.Message-date {
  color: #aaaaaa;
  display: inline-block;
}

.Message-container {
  margin-left: 0;
}

.Message-online {
  background-color: #77dd77;
  max-height: 0.75rem;
  min-height: 0.75rem;
  max-width: 0.75rem;
  min-width: 0.75rem;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  left: -0.8rem;
  top: 1.7rem;
}

.Message-offline {
  background-color: #555555;
  max-height: 0.75rem;
  min-height: 0.75rem;
  max-width: 0.75rem;
  min-width: 0.75rem;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  left: -0.8rem;
  top: 1.7rem;
}