.MessageTextboxAttachments-icon {
  display: inline-block;
  font-size: 0.9rem;
}

.MessageTextboxAttachments-name {
  display: inline-block;
  padding-left: 0.2rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.MessageTextboxAttachments-attachment {
  display: inline-block;
  margin-right: 0.5rem;
}

.MessageTextboxAttachments-remove {
  display: inline-block;
  font-size: 0.85rem;
  padding-left: 0.2rem;
}

.MessageTextboxAttachments-remove:hover {
  color: #ffffff;
}