.MessageTextbox {
  background-color: #555555;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #cccccc;
  margin: 1rem;
  margin-top: auto;
}

.MessageTextbox-container {
  display: flex;
  position: relative;
}

.MessageTextbox-textbox {
  width: 100%;
  background-color: #555555;
  border: none;
  font-size: 1rem;
  resize: none;
  padding: 0;
  margin: 0;
  color: #cccccc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.MessageTextbox-attachment-button {
  color: #cccccc;
  padding-left: 0.25rem;
  cursor: pointer;
  transition: 0.2s;
}

.MessageTextbox-attachment-button:hover {
  color: #ffffff;
}

.MessageTextbox-picker-button {
  color: #cccccc;
  padding-left: 0.25rem;
  cursor: pointer;
  transition: 0.2s;
}

.MessageTextbox-picker-button:hover {
  color: #ffffcc;
}

.emoji-mart-preview {
  height: 0px !important;
  display: none !important;
}
