.MessageList {
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
  scrollbar-color: #555555 #444444;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #444444;
}

::-webkit-scrollbar {
  width: 0.5rem;
}