.MessageList {
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
  scrollbar-color: #4c4c4c #3c3c3c;
  scrollbar-width: thin;
}

.MessageList::-webkit-scrollbar-thumb {
  background-color: #4c4c4c;
  border-radius: 0.5rem;
}

.MessageList::-webkit-scrollbar-track {
  background-color: #3c3c3c;
}
