.ChannelSidebar {
  min-width: 15rem;
  max-width: 15rem;
  min-height: 100%;
  max-height: 100%;
  background-color: #222222;
  position: relative;
  transition: 0.2s;
}

.ChannelSidebar-header {
  background-color: #111111;
  padding: 0.5rem;
  padding-left: 0.25rem;
  width: calc(100% - 0.75rem);
  border-bottom-right-radius: 0.35rem;
}

.ChannelSidebar-header-planet {
  font-size: 1.25rem;
}

.ChannelSidebar-header-user {
  color: #aaaaaa;
  font-size: 0.9rem;
}

.ChannelSidebar-header-decoration {
  background-color: #111111;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
}

.ChannelSidebar-header-rounder {
  width: 100%;
  height: 100%;
  background-color: #222222;
  border-top-left-radius: 100%;
}

.ChannelSidebar-channels-header {
  padding-left: 0.45rem;
  padding-top: 0.45rem;
  padding-right: 0.55rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #222222;
  display: flex;
}

.ChannelSidebar-channels-header-new {
  margin-left: auto;
  color: #777777;
  font-size: 0.9rem;
  cursor: pointer;
}

.ChannelSidebar-channels-header-textbox {
  position: absolute;
  padding: 0.25rem !important;
  font-size: 0.9rem !important;
  width: calc(100% - 1.5rem);
  z-index: 10;
  transition: 0.1s;
}

.ChannelSidebar-channels-header-textbox-ia {
  position: absolute;
  height: 0;
  padding: 0 0.25rem !important;
  font-size: 0rem !important;
  width: calc(100% - 1.5rem);
  transition: 0.1s;
}