.PlanetSidebarButton {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
  display: block;
}

.PlanetSidebarButton-textbox {
  position: absolute;
  left: 0.5rem;
  height: 2.5rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0;
  width: 0rem;
  font-size: 1.5rem;
  transition: 0.2s;
  z-index: 10;
}

.PlanetSidebarButton-textbox-post {
  width: 20em;
  padding: 0.5rem !important;
}

.PlanetSidebarButton-hover {
  border-color: #cccccc;
  border-width: 0.25rem;
}

/*.PlanetSidebarButton:hover {
  background-color: #444444;
}*/